APP_NAME=CORTEX
APP_ENV=development
DEBUG=true
API_BASE_URL=http://127.0.0.1:8000

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=cortex_db
POSTGRES_USER=cortex_user
POSTGRES_PASSWORD=your_postgres_password

JWT_SECRET_KEY=your_jwt_secret_key_here
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=240

CORS_ORIGINS=http://localhost:8501

# AI mode
LLM_PROVIDER=azure
